#wrapper{margin-top:10px}#wrapper textarea{resize:none}#wrapper h3{margin:10px 0}#wrapper h3 span{font-size:16px;padding:0 5px;color:#9d969d}#wrapper hr{margin:10px 0}#wrapper #src_text{margin:0 0 10px}#wrapper #src_text,#wrapper #trg_text{width:100%;padding:10px}#wrapper .alert{margin-bottom:0}