#wrapper {
  margin-top: 10px;

  textarea {
    resize: none;
  }

  h3 {
    margin: 10px 0;
    span {
      font-size: 16px;
      padding: 0 5px 0 5px;
      color: #9d969d;
    }
  }

  hr {
    margin: 10px 0;
  }

  #src_text {
    width: 100%;
    padding: 10px;
    margin: 0 0 10px 0;
  }

  #trg_text {
    width: 100%;
    padding: 10px;
  }

  .alert {
    margin-bottom: 0;
  }
}

