<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <!-- Bootstrap -->
  <link rel='shortcut icon' type='image/x-icon' href='favicon.ico'>
  <link href="<%= htmlWebpackPlugin.options.bs[0] %>" rel="stylesheet">
  <!--[if lt IE 9]>
    <script src="<%= htmlWebpackPlugin.options.ie[0] %>"></script>
    <script src="<%= htmlWebpackPlugin.options.ie[1] %>"></script>
  <![endif]-->
</head>
<body>
<div id="wrapper">
  <div class="container">
    <div id="msg_text" class="alert" style="display: none;">
      <span id="icon" class="glyphicon"></span>
      <span id="text"></span>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Text</h3>
        <textarea id="src_text" rows="5" placeholder="Place text to zip here..."></textarea>
        <button id="btn_compress" type="button" class="btn btn-primary">Compress <span
                class="glyphicon glyphicon-arrow-down"></span></button>
        <button id="btn_decompress" type="button" class="btn btn-primary">Decompress <span
                class="glyphicon glyphicon-arrow-up"></span></button>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <h3>Result (text<span class="glyphicon glyphicon-arrow-right"></span>gzip<span
                class="glyphicon glyphicon-arrow-right"></span>base64)</h3>
        <textarea id="trg_text" rows="5"></textarea>
      </div>
    </div>
  </div>
</div>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="<%= htmlWebpackPlugin.options.jq %>"></script>
<script src="<%= htmlWebpackPlugin.options.bs[1] %>"></script>
</body>
</html>
